*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	background-color: hsl(257, 40%, 49%);
	background-image: url('../images/bg-desktop.svg');
	background-repeat:no-repeat;
}
header{
	height:9rem;
	display:flex ;
	width: 90%;
	margin: auto;
}
footer{
	display:flex;
	flex-flow: column;
	align-items: flex-end;
	width: 80%;
	margin:auto;
}
.button{
	background-color: #fff;
	border: none;
	height: 2.3rem;
	width: 9rem;
	border-radius: 40px;
	color: hsl(257, 40%, 49%);
	font-family:'Open sans', sans-serif;
	font-weight: 500;
	font-size:0.9rem;
	cursor:pointer;
	box-shadow: 5px 5px 10px hsl(257, 40%, 30%);
}
.logo{
	max-width: 230px;
}
.flex{
	display: flex;
	width: 88%;
	padding-top:2rem;
	margin:auto;
}
.textBuild{
	color:#fff;
	align-self: center;
	width: 40%;
	margin:auto;
	padding-bottom:8rem;
}
.textBuild h1{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size:2.6rem;
	padding-bottom: 1rem;
}
.textBuild p{
	font-family:'Open sans', sans-serif;
	font-weight:400;
	font-size:1.2rem;
	line-height: 1.5rem;
	padding:0.7rem 0 2rem 0;
}
.social-items i{
	color:white ;
	padding:15px;
	cursor: pointer;
	border: white solid 1px;
	width:3rem;
	border-radius: 30rem;
}

@media only screen and (max-width: 912px)
{
	body{
		background-image: url('../images/bg-mobile.svg');
	}
	footer{
		justify-content: flex-center;
	}
	.flex{
		flex-flow: column;
		width: 90%;
	}
	.textBuild{
		width:90%;
	}
}

